@model SellerModel
@{
    ViewData["Title"] = "Index";
    var cultureInfo = new System.Globalization.CultureInfo("pt-BR");
}

<br />
<br />
<h1>Details sellers</h1>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Model.BirthDate.ToString("dd/MM/yyyy")
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd>
             @string.Format(cultureInfo, "{0:C}",Model.BaseSalary) 
        </dd>
        <br/s>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Sellers" asp-action="Edit" type="submit" class="btn btn-outline-primary" asp-route-id="@Model.Id">Edit now</a>
    <a asp-action="Index" type="submit" class="btn btn-outline-primary">Back to List</a>
</div>
